  #footer{
    color:white;
    background-color : #4153b5;
  }
  #footer-links{
    display:flex;
    justify-content:space-evenly;
    padding:10px;
    align-content:center;
  }
  #copyright{
    display:flex;
    justify-content:center;
    padding:10px;
    margin-bottom:50px;
    font-size:12px;
    font-family:monospace;
  }
  h3{
    color:white;
    margin:0px;
    font-size: calc(7px + .5vw);
    font-family:monospace;
  }
  link-tag{
    font-size: calc(10px + .5vw);
    color:gray;
  }


  body{
    background-color:#4153b5;
    margin:0px;
    padding:10px;
  }
  #header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin:0px;
    background-color : #4153b5;
  }
  #icon{
    width:40px;
    background-color:white;
    border:solid;
    border-radius:10px;
  }
  a{
    font-size:1em;
    text-decoration:none;
    color:white;
    font-weight:bold;
    margin-left:20px;
  }
  #search-div{
    align-items:center;
    border:solid;
    border-width:1px;
    display:flex;
    border-radius:10px;
    background-color:white;
    padding-left:5px;
    padding-right:5px;
  }
  #song-icon{
    width:20px;
  }
  input{
    height:25px;
    margin-left:10px;
    border:none;
  }
  .header-link{
    margin:0px;
    font-size: calc(7px + .9vw);
    font-family:monospace;
  }
  .header-link:hover{
    color: #032a69;
  }
  #body{
    background-color:#4153b5;
    margin:10px;
    display:grid;
    grid-template-columns:60% 40%;
  }
  #songs{
    width:98%;
  }
  #history{
  }
  #current-playing{
    display: grid;
    overflow: hidden;
  }
  #queued-songs{
    display: grid;
  }
  #similar-artist{
  }
  #recently-played{
    margin-top:10px;
  }

  #current-song{
    min-width: 100%;
    max-height:400px;
    min-height: 400px;
  }
  .song-icon{
    heigth:40px;
    min-width: 40px;
  }
  .song{
    height:60px;
    background-color:#15307d;
    display:flex;
    justify-content:justify-content;
    align-items:center;
    border:solid;
    border-color:#4863b0;
    border-width:1px;
    margin-top:5px;
  }
  .song:hover{
    background-color: #081f5c;
  }
  .song-image{
    height:40px;
    width: 40px;
    padding:5px;
  }
  .song-text{
    padding-left:10px;
    overflow: hidden;
  }
  .song-time{
    margin-left:10%;
  }

  #player{
    position:fixed;
    height:50px;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    background-color:#40403f;
    width:100%;
    bottom:0;
    left:0;
  }
  #player-image{
    width:40px;
    height:40px;
  }
  #player-icon{
    height:40px;
  }
  #start-player{
    display:flex;
    align-items:center;
  }
  #player-image{
    margin:0px;
    background-color:white;
    border-radius:20px;
  }
  #player-song-name{
    margin-left:10px;
  }
  #song-controller,#volume-controller{
    display:flex;
    align-items:center;
  }
  #volume-image{
    height:20px;
    width:20px;
  }
  #volume-control{
    width:40%;
  }

  #footer h3:hover{
    color: #032a69;
  }